<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ronzhin_payment_blacklist>
            <general>
                <enabled>0</enabled>
                <method_mapping><![CDATA[{"cashondelivery":{"is_active":"1"}}]]></method_mapping>
            </general>
        </ronzhin_payment_blacklist>
    </default>
</config>
