<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ronzhin\PaymentBlackList\Api\BlackListRepositoryInterface" type="Ronzhin\PaymentBlackList\Model\BlackListRepository"/>
    <preference for="Ronzhin\PaymentBlackList\Api\Data\BlackListInterface" type="Ronzhin\PaymentBlackList\Model\BlackList"/>
    <preference for="Ronzhin\PaymentBlackList\Api\Data\BlackListSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Ronzhin\PaymentBlackList\Api\CheckCustomerDataInBlacklistInterface" type="Ronzhin\PaymentBlackList\Model\CheckCustomerDataInBlacklist"/>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Ronzhin\PaymentBlackList\Api\Data\BlackListInterface" xsi:type="string">Ronzhin\PaymentBlackList\Api\BlackListRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ronzhin\PaymentBlackList\Model\SearchCriteria\BlackListCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ronzhin\PaymentBlackList\Model\BlackListRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Ronzhin\PaymentBlackList\Model\SearchCriteria\BlackListCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="payment_black_list_blacklist_listing_data_source" xsi:type="string">Ronzhin\PaymentBlackList\Model\ResourceModel\BlackList\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ronzhin\PaymentBlackList\Model\ResourceModel\BlackList\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ronzhin_payment_blacklist</argument>
            <argument name="eventPrefix" xsi:type="string">payment_black_list_blacklist_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">blacklist_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ronzhin\PaymentBlackList\Model\ResourceModel\BlackList</argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\MethodList">
        <arguments>
            <argument name="additionalChecks" xsi:type="array">
                <item name="user_in_blacklist" xsi:type="string">user_in_blacklist</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\Checks\SpecificationFactory">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="user_in_blacklist" xsi:type="object">Ronzhin\PaymentBlackList\Model\Checks\UserInBlacklist</item>
            </argument>
        </arguments>
    </type>
</config>
