<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ronzhin_PaymentBlackList::blacklist" title="Blacklist" translate="title" module="Ronzhin_PaymentBlackList" sortOrder="90" parent="Magento_Customer::customer" action="payment_black_list/blacklist" resource="Ronzhin_PaymentBlackList::blacklist"/>
    </menu>
</config>
