<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="payment_black_list" frontName="payment_black_list">
            <module name="Ronzhin_PaymentBlackList" before="Magento_Backend"/>
        </route>
    </router>
</config>
